<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="refresh" content="140">
		<title>FüF Timetable</title>
		<link rel="stylesheet" href="static/pico.min.css">
		<link rel="stylesheet" href="static/style.css">
		<script src="anime.min.js"></script>
	</head>

	<body>
		<!-- <script src="index.js"></script> -->
		<div class="background">
			<main class="container-fluid">
				<div class="grid">
					<div class="front"><h1 class="headline" style="font-size: 50px;">Demnächst</h1></div>
					<div class="front"><img src="static/logo.png" class="logo"/></div>
				</div>
				{% if entries is defined and entries|length > 0 %}
					<ul id="slides">
						<li class="slide showing">
							<table style="align: center;">
								<thead>
									<tr>
										<th scope="col" style="font-size: 40px; color: white;"></th>
										<th scope="col" style="font-size: 40px; color: white;">Zeit</th>
										<th scope="col" style="font-size: 40px; color: white;">Künstler:in</th>
										<th scope="col" style="font-size: 40px; color: white;">Titel</th>
										<th scope="col" style="font-size: 40px; color: white;">Ort</th>
										<th scope="col" style="font-size: 40px; color: white;">Genre</th>
										<th scope="col" style="font-size: 40px; color: white;">Dauer</th>
									</tr>
								</thead>
								<tbody>
									{% for entry in entries %}
									<tr>
										<td style="font-size: 40px; color: white;">{% if entry.is_now %}→{% endif %}</td>
										<td style="font-size: 40px; color: white;">{{ entry.when.strftime("%H:%M") }}</td>
										<th scope="row" style="font-size: 40px; color: white;">{{ entry.artist}}</th>
										<td style="font-size: 40px; color: white;">{{ entry.title }}</td>
										<td style="font-size: 40px; color: white;">{{ entry.place}}</td>
										<td style="font-size: 40px; color: white;">{{ entry.genre }}</td>
										{% if entry.duration %}
										<td style="font-size: 40px; color: white;">{{ ((entry.duration | int) / 60 | int | abs) }} Min</td>
										{% else %}
										<td style="font-size: 40px; color: white;"></td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</li>
						{% for entry in entries %}
							<li class="slide">
								<div class="row">
									<div class="col-8" style="font-size: 100px; color: white;"><b>{{ entry.title}}</b></div>
									{% if entry.duration %}
										<div class="col-4" style="font-size: 70px; color: white;"><b>{{ entry.when.strftime("%H:%M") }}-{{ entry.endtime.strftime("%H:%M") }}</b></div>
									{% else %}
										<div class="col-4" style="font-size: 70px; color: white;"><b>{{ entry.when.strftime("%H:%M") }}</b></div>
									{% endif %}
								</div>
								<div style="font-size: 70px; color: white;"></br></div>
								<div style="font-size: 70px; color: white;">{{ entry.artist 	}}</div>
								<div style="font-size: 70px; color: white;"><b>{{ entry.place}}</b></div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
				{% endif %}
			</main>
		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="static/background-animation.js"></script>
	<script src="static/nextSlide.js"></script>
</html>
