<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="refresh" content="140">
		<title>FüF Timetable</title>
		<link rel="stylesheet" href="static/pico.min.css">
		<link rel="stylesheet" href="static/style.css">
        </head>
	<body>
		<!-- <script src="index.js"></script> -->
		<main class="container">
			<div class="grid">
				<div><h1 class="headline">Demnächst</h1></div>
				<div><img src="static/logo.png" class="logo"/></div>
			</div>
			{% if entries is defined and entries|length > 0 %}
			<table>
				<thead>
					<tr>
						<th scope="col" style="font-size: 25px;"></th>
						<th scope="col" style="font-size: 25px;">Zeit</th>
						<th scope="col" style="font-size: 25px;">Künstler:in</th>
						<th scope="col" style="font-size: 25px;">Titel</th>
						<th scope="col" style="font-size: 25px;">Ort</th>
						<th scope="col" style="font-size: 25px;">Genre</th>
						<th scope="col" style="font-size: 25px;">Dauer</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in entries %}
					<tr>
						<td style="font-size: 25px;">{% if entry.is_now %}→{% endif %}</td>
						<td style="font-size: 25px;">{{ entry.when.strftime("%H:%M") }}</td>
						<th scope="row" style="font-size: 25px;">{{ entry.artist}}</th>
						<td style="font-size: 25px;">{{ entry.title }}</td>
						<td style="font-size: 25px;">{{ entry.place}}</td>
						<td style="font-size: 25px;">{{ entry.genre }}</td>
						<td style="font-size: 25px;">{{ entry.duration}} Min</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p><small><i>Das wars für heute, rebot/robot.</i></small></p>
			{% endif %}
			<p>
			<h4>Die ganze Zeit:</h4>
			</p>
			<ul id="slides">
				<li class="slide showing">
					<div class="grid">
  						<div><img width="50%" src="static/images/thomas.jpg" alt="No picture"></div>
  						<div style="font-size: 25px;"><b>Rittersaal</b> Thomas Rusch: Digital Zeny</div>
					</div>
				</li>

	                        <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/kanaltheater.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Galerie</b> Kanaltheater: Dialog erwünscht, Farbianart: Naturszene</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/fock.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Galerie</b> Jan Fock: Hausbesuche. Extended Mind</div>
                                        </div>
                                </li>


                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/silvi.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Galerie</b> Silvi: Portraits aus dem Fläming</div>
                                        </div>
                                </li>


                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/ying.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Kino</b> Yu Ying: Bon Apetitte</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/farbian.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Theaterstall</b></br><b>Gallerie</b>Farbianart: Naturszenen</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/adam.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Überall</b> Adam und die Physiker: Apocalypse Escape</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/filme.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Dschungel</b> Fläminger Filmfestival: Fläminer Filme</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/lpg.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Theaterstall</b> LPG. Dahnsdorfer Geschichten</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="50%" src="static/images/fuef.jpg" alt="No picture"></div>
                                                <div style="font-size: 25px;"><b>Ferkelstall</b> Jubiläumsausstellung. 10 Jahre Festival für Freunde, Digival</div>
                                        </div>
                                </li>
			</ul>	
		</main>
	</body>
	<script src="static/nextSlide.js"></script>
</html>
