<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="refresh" content="30">
		<title>FüF Timetable</title>
		<link rel="stylesheet" href="static/pico.min.css">
		<link rel="stylesheet" href="static/style.css">
        </head>
	<body>
		<!-- <script src="index.js"></script> -->
		<main class="container">
			<div class="grid">
				<div><h1 class="headline">Programm</h1></div>
				<div><img src="static/logo.png" class="logo"/></div>
			</div>
			{% if entries is defined and entries|length > 0 %}
			<table>
				<thead>
					<tr>
						<th scope="col" style="font-size: 20px;"></th>
						<th scope="col" style="font-size: 20px;">Zeit</th>
						<th scope="col" style="font-size: 20px;">Künstler:in</th>
						<th scope="col" style="font-size: 20px;">Titel</th>
						<th scope="col" style="font-size: 20px;">Ort</th>
						<th scope="col" style="font-size: 20px;">Genre</th>
						<th scope="col" style="font-size: 20px;">Dauer</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in entries %}
					<tr>
						<td style="font-size: 20px;">{% if entry.is_now %}→{% endif %}</td>
						<td style="font-size: 20px;">{{ entry.when.strftime("%H:%M") }}</td>
						<th scope="row" style="font-size: 20px;">{{ entry.artist}}</th>
						<td style="font-size: 20px;">{{ entry.title }}</td>
						<td style="font-size: 20px;">{{ entry.place}}</td>
						<td style="font-size: 20px;">{{ entry.genre }}</td>
						<td style="font-size: 20px;">{{ entry.duration}} Min</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p><small><i>Das wars für heute, rebot/robot.</i></small></p>
			{% endif %}
			<p>
			<b><u>Die ganze Zeit:</u></b>
			</p>
			<ul id="slides">
				<li class="slide showing">
					<div class="grid">
  						<div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
  						<div><b>Rittersaal</b> Thomas Rusch: Digital Zen —</div>
					</div>
				</li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Galerie</b> Jan Fock: Hausbesuche. Extended Mind, Silvi: Portraits aus dem Fläming, Kanaltheater: Dialog erwünscht, Farbianart: Naturszene —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Kino</b> Yu Ying: Bon Apetitte —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Theaterstall</b> Farbianart: Naturszenen, LPG Ausstellung —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Überall</b> Adam und die Physiker: Apocalypse Escape —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Dschungel</b> Fläminger Filmfestival: Fläminer Filme —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Theaterstall</b> LPG. Dahnsdorfer Geschichten —</div>
                                        </div>
                                </li>

                                <li class="slide">
                                        <div class="grid">
                                                <div><img width="512px" src="pic_trulli.jpg" alt="No picture"></div>
                                                <div><b>Ferkelstall</b> Jubiläumsausstellung. 10 Jahre Festival für Freunde, Digival</div>
                                        </div>
                                </li>
			</ul>	
		</main>
	</body>
	<script src="static/nextSlide.js"></script>
</html>
